% from helper.translator import Translator
% _ = Translator.instance(language)

% if not category:
    % title = _("Not found")

    <div class="grid">
        <div class="unit w-1-1">
            <p>{{_('No category found.')}}</p>
        </div>
    </div>
% else:
    % title = category.name

    <h2 class="anchor">{{category.name}}</h2>

    <p>{{_('This category contains {} recipes.').format(len(recipes))}}</p>

    % include('recipe_list')
% end

% rebase('html_body', id='category', title=title)