<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>{{title + ' - ' if title else ''}}NomNomNom</title>

    <meta name="description" content="A simple Python and SQLite based recipe manager.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/simplegrid.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body id="{{id}}">
    <h1>NomNomNom</h1>

    <ul>
        <li><a href="/">Home</a></li>
        % for category in categories:
            <li><a href="/category/{{category.id}}-{{category.name.lower()}}">{{category.name}}</a></li>
        % end-for
    </ul>

    <ul>
        <li><a href="/manage/categories">Manage: Categories</a></li>
        <li><a href="/manage/recipe">New: Recipe</a></li>
    </ul>

    %include

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
</body>
</html>