<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>Recipe Manager{{' - ' + title if title else ''}}</title>

    <meta name="description" content="A simple Python and SQLite based recipe manager.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body id="{{id}}">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/manage/categories">Manage: Categories</a></li>
        <li><a href="/manage/ingredients">Manage: Ingredients</a></li>
        <li><a href="/manage/languages">Manage: Languages</a></li>
        <li><a href="/manage/units">Manage: Units</a></li>
    </ul>

    %include

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
</body>
</html>