<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>{{title + ' - ' if title else ''}}NomNomNom</title>

    <meta name="description" content="A simple Python and SQLite based recipe manager.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Framework, Widgets... -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/gridism.css">
    <link rel="stylesheet" href="/css/chosen.min.css">

    <!-- Custom -->
    <link rel="stylesheet/less" type="text/css" href="/css/main.less">
</head>
<body>
    <div class="wrap wider">
        <div class="grid">
            <div class="unit w-1-1">
                <h1 id="header">NomNomNom</h1>
            </div>
        </div>

        <div class="grid">
            <div class="unit w-1-2">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/search">Search</a></li>
                    % import urllib
                    % for category in categories:
                        % quoted_title = urllib.parse.quote(category.name.lower())
                        % url = '/category/{}-{}'.format(category.id, quoted_title)
                        <li><a href="{{url}}">{{category.name}}</a></li>
                    % end
                </ul>
            </div>

            <div class="unit w-1-2">
                <ul>
                    <li><a href="/manage/recipe">New: Recipe</a></li>
                    % if defined('edit_recipe') and edit_recipe:
                        <li><a href="/manage/recipe/{{recipe.id}}">Edit: Recipe</a></li>
                    % end
                    <li><a href="/manage/categories">Manage: Categories</a></li>
                    <li><a href="/manage/tags">Manage: Tags</a></li>
                </ul>
            </div>
        </div>

        % if defined('hints') and hints:
            <div id="hints" class="grid">
                <div class="unit w-1-1">
                    <ul>
                        % for hint in hints:
                            <li>{{hint.text}}</li>
                        % end
                    </ul>
                </div>
            </div>
        % end

        <div class="grid">
            <div id="{{id}}" class="unit w-1-1">
                % include
            </div>
        </div>
    </div>

    <!-- LESS -->
    <script>
        less = {
            env: "production",
            functions: {},
            dumpLineNumbers: "comments",
        };
    </script>
    <script src="/js/less.min.js"></script>
    <script>//less.watch()</script>

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/chosen.jquery.min.js"></script>

    <!-- Custom -->
    <script src="/js/main.js"></script>
</body>
</html>