<h2>Manage: Recipe</h2>

% selected = 'selected="selected"'

<form action="/manage/recipe{{'/'+str(recipe.id) if recipe.id else ''}}" method="post">
    <fieldset>
        <legend>{{'Edit' if recipe.id else 'New'}} Recipe</legend>
        <div>
            <label for="rating">Rating:</label>
            <select id="rating" name="rating">
                <option value="-1"> </option>
                <option value="0" {{!selected if recipe.rating is 0 else ''}}>☆</option>
                <option value="1" {{!selected if recipe.rating is 1 else ''}}>★</option>
                <option value="2" {{!selected if recipe.rating is 2 else ''}}>★★</option>
                <option value="3" {{!selected if recipe.rating is 3 else ''}}>★★★</option>
            </select>
        </div>
        <div>
            <label for="category">Category:</label>
            <select id="category" name="category">
                <option value="-1"> </option>
                % for category in categories:
                    <option value="{{category.id}}"
                            {{!selected if recipe.id and recipe.category.id is category.id else ''}}>
                        {{category.name}}
                    </option>
                % end
            </select>
        </div>

        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value="{{recipe.title}}" />
        </div>
        <div>
            <label for="serving-size">Serving Size:</label>
            <input type="text" id="serving-size" name="serving-size" value="{{recipe.serving_size}}" />
        </div>
        <div>
            <label for="ingredients">Ingredients:</label>
            <textarea id="ingredients" name="ingredients">{{recipe.ingredients}}</textarea>
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea id="description" name="description">{{recipe.description}}</textarea>
        </div>
        <div>
            <label for="info">Info:</label>
            <textarea id="info" name="info">{{recipe.info}}</textarea>
        </div>
        <div>
            <label for="tags">Tags:</label>
            <select id="tags" name="tags" multiple="multiple">
                <option> </option>
                % tag_ids = [tag.id for tag in recipe.tags]
                % for tag in tags:
                    <optgroup label="{{tag.name}}">
                        <option value="{{tag.id}}"
                                {{!selected if tag.id in tag_ids else ''}}>
                            {{tag.name}}
                        </option>
                        % for synonym in tag.synonyms:
                            <option value="{{synonym.id}}"
                                    {{!selected if synonym.id in tag_ids else ''}}>
                                {{synonym.name}}
                            </option>
                        % end
                    </optgroup>
                % end
            </select>
        </div>
        % url_counter = 0
        <div id="urls">
            % for url in recipe.urls:
                <div>
                    <label for="url-name-{{url_counter}}">Name of link {{url_counter + 1}}:</label>
                    <input type="text" id="url-name-{{url_counter}}" name="url-name-{{url_counter}}" value="{{url.name}}" />
                </div>
                <div>
                    <label for="url-url-{{url_counter}}">Link {{url_counter + 1}}:</label>
                    <input type="text" id="url-url-{{url_counter}}" name="url-url-{{url_counter}}" value="{{url.url}}" />
                </div>
                % url_counter += 1
            % end
            % if not recipe.urls:
                <div>
                    <label for="url-name-0">Name of Link 1:</label>
                    <input type="text" id="url-name-0" name="url-name-0" value="" />
                </div>
                <div>
                    <label for="url-url-0">Link 1:</label>
                    <input type="text" id="url-url-0" name="url-url-0" value="" />
                </div>
                % url_counter += 1
            % end
        </div>
        <div>
            <input type="hidden" id="url-counter" name="url-counter" value="{{url_counter}}" />
            <button id="add-url">Add Link</button>
        </div>
        <div>
            <button type="submit" name="edit">{{'Edit' if recipe.id else 'Create'}} Recipe</button>
            % if recipe.id:
                <button type="submit" name="delete">Delete Recipe</button>
            % end
        </div>
    </fieldset>
</form>

% rebase html_body id='manage-recipe', title='Recipe'