% from helper.url import Url
<h2>Manage: Tags</h2>

<form action="{{Url.from_path(['manage', 'tags'])}}" method="post">
    <fieldset>
        <legend>New Tag</legend>
        <div class="input-row">
            <label for="new-name">Name (required):</label>
            <input type="text" id="new-name" name="name" />
        </div>
        <div>
            <input type="hidden" name="action" value="new" />
            <button type="submit">Create Tag</button>
        </div>
    </fieldset>
</form>

% for tag in tags:
    <fieldset class="tag-group">
        <legend class="tag-group-legend">{{tag.name}}</legend>
        <form action="{{Url.from_path(['manage', 'tags'])}}" method="post">
            <div class="input-row">
                <label for="edit-name-{{tag.id}}">Name:</label>
                <input type="text" id="edit-name-{{tag.id}}" name="name" value="{{tag.name}}" />
                <input type="hidden" name="id" value="{{tag.id}}" />
                <input type="hidden" name="action" value="edit" />
                <button type="submit" name="edit">Edit</button>
                <button type="submit" name="delete">Delete</button>
            </div>
        </form>

        <form action="{{Url.from_path(['manage', 'tags'])}}" method="post">
            <fieldset>
                <legend>New Synonym</legend>
                <div class="input-row">
                    <label for="new-name-{{tag.id}}">Name:</label>
                    <input type="text" id="new-name-{{tag.id}}" name="name" />
                </div>
                <div>
                    <input type="hidden" name="id" value="{{tag.id}}" />
                    <input type="hidden" name="action" value="new-synonym" />
                    <button type="submit">Create Synonym</button>
                </div>
            </fieldset>
        </form>

        <fieldset>
            <legend>Edit Synonym</legend>
            % length = len(tag.synonyms)
            % for i in range(length):
                % synonym = tag.synonyms[i]
                % cls = ' class="input-row"'
                % c = cls if (i < length - 1) else ''
                <form action="{{Url.from_path(['manage', 'tags'])}}" method="post">
                    <div{{!c}}>
                        <label for="edit-name-{{synonym.id}}">Name:</label>
                        <input type="text" id="edit-name-{{synonym.id}}" name="name" value="{{synonym.name}}" />
                        <input type="hidden" name="id" value="{{synonym.id}}" />
                        <input type="hidden" name="action" value="edit" />
                        <button type="submit" name="edit">Edit</button>
                        <button type="submit" name="delete">Delete</button>
                    </div>
                </form>
            % end
         </fieldset>
    </fieldset>
% end

% rebase('html_body', id='manage-tags', title='Tags')