<form action="/manage/{{path}}" method="post">
    <fieldset>
        <legend>New {{name}}</legend>
        <input type="hidden" name="action" value="new" />
        <button type="submit">Create {{name}}</button>
    </fieldset>
</form>

% for parent in parents:
    <fieldset>
        <form action="/manage/{{path}}" method="post">
            <input type="hidden" name="parent-id" value="{{parent.id}}" />
            <input type="hidden" name="action" value="delete" />
            <button type="submit">Delete {{name}}</button>
        </form>

        <form action="/manage/{{path}}" method="post">
            <fieldset>
                <legend>New Alias</legend>
                <div>
                    <label for="new-name-{{parent.id}}">Name:</label>
                    <input type="text" id="new-name-{{parent.id}}" name="name" />
                </div>
                <div>
                    <input type="hidden" name="parent-id" value="{{parent.id}}" />
                    <input type="hidden" name="action" value="new-child" />
                    <button type="submit">Create Alias</button>
                </div>
            </fieldset>
        </form>

        <fieldset>
            <legend>Edit Alias</legend>
            % for item in parent.existing:
                <form action="/manage/{{path}}/edit" method="post">
                    <div>
                        <label for="edit-name-{{parent.id}}-{{item.id}}">Name:</label>
                        <input type="text" id="edit-name-{{parent.id}}-{{item.id}}" name="name" value="{{item.name}}" />
                        <input type="hidden" name="id" value="{{item.id}}" />
                        <input type="hidden" name="action" value="edit-child" />
                        <button type="submit" name="edit">Edit</button>
                        <button type="submit" name="delete">Delete</button>
                    </div>
                </form>
            % end-for
        </fieldset>
    </fieldset>
% end-for

%rebase html_body id='manage-id-name-parent', title=title