<form action="/manage/categories/new" method="post">
    <fieldset>
        <legend>New Category</legend>
        <div>
            <label for="new-name">Name:</label>
            <input type="text" id="new-name" name="name" />
        </div>
        <div>
            <button type="submit">Create Category</button>
        </div>
    </fieldset>
</form>

<fieldset>
    <legend>Edit Category</legend>
    % for cat in categories:
        <form action="/manage/categories/edit" method="post">
            <div>
                <label for="edit-name-{{cat.id}}">Name:</label>
                <input type="text" id="edit-name-{{cat.id}}" name="name" value="{{cat.name}}" />
                <input type="hidden" name="id" value="{{cat.id}}" />
                <button type="submit" name="edit">Edit</button>
                <button type="submit" name="delete">Delete</button>
            </div>
        </form>
    % end-for
</fieldset>

%rebase html_body id='manage-categories', title='Manage: Categories'