% from helper.url import Url
% from helper.translator import Translator
% _ = Translator.instance(language)

<h2>
    % if recipe.id:
        <a href="/recipe/{{str(recipe.id)}}-{{str(recipe.title.lower())}}">{{recipe.title}}</a>
    % else:
        {{_('New Recipe')}}
    % end
</h2>

% selected = 'selected="selected"'
% url = Url.from_path(['manage', 'recipe', str(recipe.id)]) if recipe.id else Url.from_path(['manage', 'recipe'])
<form action="{{url}}" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>{{_('Edit Recipe') if recipe.id else _('New Recipe')}}</legend>

        <div class="input-row">
            <label for="rating">{{_('Rating:')}}</label>
            <select id="rating" name="rating">
                <option value="-1"> </option>
                <option value="0" {{!selected if recipe.rating is 0 else ''}}>☆</option>
                <option value="1" {{!selected if recipe.rating is 1 else ''}}>★</option>
                <option value="2" {{!selected if recipe.rating is 2 else ''}}>★★</option>
                <option value="3" {{!selected if recipe.rating is 3 else ''}}>★★★</option>
            </select>
        </div>

        <div class="input-row">
            <label for="categories">{{_('Category:')}}</label>
            <select id="categories" name="categories" multiple="multiple">
                <option value="-1"> </option>
                % category_ids = [category.id for category in recipe.categories]
                % for category in categories:
                    <option value="{{category.id}}"
                            {{!selected if category.id in category_ids else ''}}>
                        {{category.name}}
                    </option>
                % end
            </select>
        </div>

        <div class="input-row">
            <label for="title">{{_('Title (required):')}}</label>
            <input type="text" id="title" name="title" value="{{recipe.title}}" />
        </div>

        % synonym_counter = 0
        <div id="synonyms">
            % for synonym in recipe.synonyms:
                <div class="input-row">
                    <label for="synonym-{{synonym_counter}}">{{_('Synonym {}:').format(synonym_counter + 1)}}</label>
                    <input type="text" id="synonym-{{synonym_counter}}" name="synonym-{{synonym_counter}}" value="{{synonym.name}}" />
                </div>
                % synonym_counter += 1
            % end
            % if not recipe.synonyms:
                <div class="input-row">
                    <label for="synonym-0">{{_('Synonym {}:').format(1)}}</label>
                    <input type="text" id="synonym-0" name="synonym-0" value="" />
                </div>
                % synonym_counter += 1
            % end
        </div>
        <div class="input-row">
            <input type="hidden" id="synonym-counter" name="synonym-counter" value="{{synonym_counter}}" />
            <button id="add-synonym">{{_('Add Synonym')}}</button>
        </div>

        <div class="input-row">
            <label for="serving-size">{{_('Serving Size:')}}</label>
            <input type="text" id="serving-size" name="serving-size" value="{{recipe.serving_size}}" />
        </div>

        <div class="input-row">
            <label for="ingredients">{{_('Ingredients:')}}</label>
            <textarea id="ingredients" name="ingredients">{{recipe.ingredients}}</textarea>
        </div>

        <div class="input-row">
            <label for="description">{{_('Preparation:')}}</label>
            <textarea id="description" name="description">{{recipe.description}}</textarea>
        </div class="input-row">

        <div class="input-row">
            <label for="info">{{_('Info:')}}</label>
            <textarea id="info" name="info">{{recipe.info}}</textarea>
        </div>

        <div class="input-row">
            <label for="tags">{{_('Tags:')}}</label>
            <select id="tags" name="tags" multiple="multiple">
                <option> </option>
                % tag_ids = [tag.id for tag in recipe.tags]
                % for tag in tags:
                    <optgroup label="{{tag.name}}">
                        <option value="{{tag.id}}"
                                {{!selected if tag.id in tag_ids else ''}}>
                            {{tag.name}}
                        </option>
                        % for synonym in tag.synonyms:
                            <option value="{{synonym.id}}"
                                    {{!selected if synonym.id in tag_ids else ''}}>
                                {{synonym.name}}
                            </option>
                        % end
                    </optgroup>
                % end
            </select>
        </div>

        % url_counter = 0
        <div id="urls">
            % for url in recipe.urls:
                <div class="input-row">
                    <label for="url-name-{{url_counter}}">{{_('Name of Link {}:').format(url_counter + 1)}}</label>
                    <input type="text" id="url-name-{{url_counter}}" name="url-name-{{url_counter}}" value="{{url.name}}" />
                </div>
                <div>
                    <label for="url-url-{{url_counter}}">{{_('Link {}:').format(url_counter + 1)}}</label>
                    <input type="text" id="url-url-{{url_counter}}" name="url-url-{{url_counter}}" value="{{url.url}}" />
                </div>
                % url_counter += 1
            % end
            % if not recipe.urls:
                <div class="input-row">
                    <label for="url-name-0">{{_('Name of Link {}:').format(1)}}</label>
                    <input type="text" id="url-name-0" name="url-name-0" value="" />
                </div>
                <div class="input-row">
                    <label for="url-url-0">{{_('Link {}:').format(1)}}</label>
                    <input type="text" id="url-url-0" name="url-url-0" value="" />
                </div>
                % url_counter += 1
            % end
        </div>
        <div class="input-row">
            <input type="hidden" id="url-counter" name="url-counter" value="{{url_counter}}" />
            <button id="add-url">{{_('Add Link')}}</button>
        </div>

        % image_counter = 0
        <div id="images" class="input-row">
            % for image in recipe.images:
                <div id="image-{{image_counter}}" class="input-row">
                    <label>{{_('Image {}:').format(image_counter + 1)}}</label>
                    <img src="{{image.path}}" alt="{{image.path}}" />
                    <input type="hidden" name="image-{{image_counter}}" value="{{image.path}}" />
                    <button class="delete-image" data-rel="image-{{image_counter}}">{{_('Remove Image')}}</button>
                </div>
                % image_counter += 1
            % end
            <div class="input-row">
                <label for="new-image-0">{{_('New Image {}:').format(1)}}</label>
                <input type="file" id="new-image-0" accept="image/gif, image/jpeg, image/png" name="new-image-0" />
            </div>
        </div>
        <div class="input-row">
            <input type="hidden" id="image-counter" name="image-counter" value="{{image_counter}}" />
            <input type="hidden" id="new-image-counter" name="new-image-counter" value="1" />
            <button id="add-image">{{_('Add Image')}}</button>
        </div>

        <div>
            <button type="submit" name="edit">{{_('Edit Recipe') if recipe.id else _('Create Recipe')}}</button>
            % if recipe.id:
                <button type="submit" name="delete">{{_('Delete Recipe')}}</button>
            % end
        </div>
    </fieldset>
</form>

<div class="hidden">
    <div id="template-add-image">
        <div class="input-row">
            <label for="new-image-{image_count}">{{_('New Image {image_count+1}:')}}</label>
            <input type="file" id="new-image-{image_count}" accept="image/gif, image/jpeg, image/png" name="new-image-{image_count}" />
        </div>
    </div>

    <div id="template-add-synonym">
        <div class="input-row">
            <label for="synonym-{synonym_count}">{{_('Synonym {synonym_count+1}:')}}</label>
            <input type="text" id="synonym-{synonym_count}" name="synonym-{synonym_count}" />
        </div>
    </div>

    <div id="template-add-url">
        <div class="input-row">
            <label for="url-name-{url_count}">{{_('Name of Link {url_count+1}:')}}</label>
            <input type="text" id="url-name-{url_count}" name="url-name-{url_count}" />
        </div>
        <div class="input-row">
            <label for="url-url-{url_count}">{{_('Link {url_count+1}:')}}</label>
            <input type="text" id="url-url-{url_count}" name="url-url-{url_count}" />
        </div>
    </div>
</div>

% rebase html_body id='manage-recipe', title=_('Recipe'), categories=categories, hints=hints, languages=languages