% from helper.url import Url
% from helper.translator import Translator
% _ = Translator.instance(language)

<h2>{{_('Manage: Categories')}}</h2>

<form action="{{Url.from_path(['manage', 'categories'])}}" method="post">
    <fieldset>
        <legend>{{_('New Category')}}</legend>
        <div>
            <label for="new-name">{{_('Name (required):')}}</label>
            <input type="text" id="new-name" name="name" autofocus="autofocus" />
        </div>
        <div>
            <input type="hidden" name="action" value="new" />
            <button type="submit">{{_('Create Category')}}</button>
        </div>
    </fieldset>
</form>

<fieldset>
    <legend>{{_('Edit Categories')}}</legend>
    % length = len(categories)
    % for i in range(length):
        % category = categories[i]
        % cls = ' class="input-row"'
        % c = cls if (i < length - 1) else ''
        <form action="{{Url.from_path(['manage', 'categories'])}}" method="post">
            <div{{!c}}>
                <label for="edit-name-{{category.id}}">{{_('Name:')}}</label>
                <input type="text" id="edit-name-{{category.id}}" name="name" value="{{category.name}}" />
                <input type="hidden" name="id" value="{{category.id}}" />
                <input type="hidden" name="action" value="edit" />
                <button type="submit" name="edit">{{_('Edit')}}</button>
                <button type="submit" name="delete">{{_('Delete')}}</button>
            </div>
        </form>
    % end
</fieldset>

% rebase html_body id='manage-categories', title=_('Categories'), categories=categories, hints=hints, languages=languages