% from helper import browser
% from helper.url import Url

% is_mobile = browser.Browser.is_mobile()
% if recipes:
    <ul id="recipe-list">
    % for recipe in recipes:
        % url = Url.from_recipe(recipe)

        <li class="grid">
            % text_width = 'w-5-5'
            % if not is_mobile:
                % text_width = 'w-4-5'
                <div class="unit w-1-5">
                    % if recipe.images:
                        % img_url = Url.from_img(recipe.images[0].path)
                        <a class="fancybox" href="{{img_url}}" data-fancybox-group="images" data-fancybox-title="{{recipe.title}}" data-recipe="{{url}}">
                            <img class="lazy" data-original="{{img_url}}" alt="{{recipe.images[0].path}}" />
                        </a>
                    % end
                </div>
            % end
            <div class="unit {{text_width}}">
                <div class="title">
                    <a href="{{url}}">{{recipe.title}}</a>
                </div>
                <div class="rating">
                    % rating = '-'
                    % if recipe.rating is 0:
                    %   rating = '☆'
                    % elif recipe.rating is 1:
                    %   rating = '★'
                    % elif recipe.rating is 2:
                    %   rating = '★★'
                    % elif recipe.rating is 3:
                    %   rating = '★★★'
                    % end
                    {{rating}}
                </div>
                <div class="tags">
                    % last_i = len(recipe.tags) - 1
                    % for i, tag in enumerate(recipe.tags):
                        % search_url = Url.search(tag.name)
                        <a href="{{search_url}}">{{tag.name}}</a>{{', ' if i < last_i else ''}}
                    % end
                </div>
            </div>
        </li>
    % end
    </ul>
% end