% from helper import browser
% from helper.url import Url

% is_mobile = browser.Browser.is_mobile()
% if recipes:
    <ul id="recipe-list">
    % for recipe in recipes:
        % url = Url.from_recipe(recipe)

        <li class="grid">
            % text_width = 'w-5-5'
            % if not is_mobile:
                % text_width = 'w-4-5'
                <div class="unit w-1-5">
                    % if recipe.images:
                        <a href="{{url}}">
                            <img src="{{recipe.images[0].path}}" alt="{{recipe.images[0].path}}" />
                        </a>
                    % end
                </div>
            % end
            <div class="unit {{text_width}}">
                <div class="title">
                    <a href="{{url}}">{{recipe.title}}</a>
                </div>
                <div class="rating">
                    % rating = '-'
                    % if recipe.rating is 0:
                    %   rating = '☆'
                    % elif recipe.rating is 1:
                    %   rating = '★'
                    % elif recipe.rating is 2:
                    %   rating = '★★'
                    % elif recipe.rating is 3:
                    %   rating = '★★★'
                    % end
                    {{rating}}
                </div>
                <div class="tags">
                    {{', '.join(tag.name for tag in recipe.tags) if recipe.tags else ''}}
                </div>
            </div>
        </li>
    % end
    </ul>
% end