% from helper.url import Url
<h2>Search</h2>

<form action="{{Url.from_path(['search'])}}" method="post">
    <fieldset>
        <div class="input-row">
            <label for="search-text">Query:</label>
            <input type="text" id="search-text" name="search-text"
                   autofocus="autofocus" value="{{query}}" />
        </div>
        <div class="input-row grid">
            <div class="unit w-label">Fields:</div>
            <div class="unit w-input">
                category, description, info, ingredients,
                tags, title, titletags (default), rated (Example: "tags:coffee")
            </div>
        </div>
        <div class="input-row">
            <div class="unit w-label">Boolean:</div>
            <div class="unit w-input">
                AND (default), OR, NOT (Example: "coffee AND cream NOT milk")
            </div>
        </div>
        <div class="input-row">
            <div class="unit w-label">Inexact Terms:</div>
            <div class="unit w-input">
                ?, * (Example: "coconut*")
            </div>
        </div>
        <div class="input-row">
            <div class="unit w-label">Boosting Query Elements:</div>
            <div class="unit w-input">
                ^ (Example: "coffee^2 cream")
            </div>
        </div>
        <div>
            <button type="submit">Search</button>
        </div>
    </fieldset>
</form>

% if recipes:
    <p>{{'Found {} matching recipes.'.format(len(recipes))}}</p>
% else:
    <p>No result.</p>
% end

% include('recipe_list')

% rebase('html_body', id='search', title='Search')