<div class="grid">
    <div class="unit w-1-1">
        <h2>Recipe: {{recipe.title}}</h2>
    </div>
</div>

% from helper import html_escape
% escape = html_escape.HtmlEscape.html_escape_nl2br

<div class="grid">
    <div class="unit w-2-3">
        <div>Serving Size: {{recipe.serving_size}}</div>
        <div>Ingredients: {{!escape(recipe.ingredients)}}</div>
        <div>Description: {{!escape(recipe.description)}}</div>
        <div>Info: {{!escape(recipe.info)}}</div>
    </div>

    <div class="unit w-1-3">
        <div>Images (Later, Someday...)</div>
        % rating = '-'
        % if recipe.rating is 0:
        %   rating = '☆'
        % elif recipe.rating is 1:
        %   rating = '★'
        % elif recipe.rating is 2:
        %   rating = '★★'
        % else:
        %   rating = '★★★'
        % end
        <div>Rating: {{rating}}</div>
        <div>URLs (Later, Someday...)</div>
        <div>Tags: {{', '.join(tag.name for tag in recipe.tags)}}</div>
    </div>
</div>

% rebase html_body id='recipe', title=recipe.title, edit_recipe=True