% from helper.url import Url

<div class="grid">
    <div class="unit w-1-1">
        <h2>{{recipe.title}}</h2>
        % if recipe.synonyms:
            <h3>Synonyms: {{', '.join(synonym.name for synonym in recipe.synonyms)}}</h3>
        % end
    </div>
</div>

% #import markdown
% #def t(text):
% #  text = markdown.markdown(text,
% #                           extensions=['tables'],
% #                           output_format='html5',
% #                           safe_mode='escape')
% #  return text
% from helper import html_escape
% def t(text):
%   text = html_escape.HtmlEscape.html_escape_nl2br(text)
%   return text
% end

<div class="grid">
    <div class="unit w-2-3">
        % if recipe.serving_size:
            <div>
                <h3>Serving Size:</h3>
                <p>{{recipe.serving_size}}</p>
            </div>
        % end

        % if recipe.ingredients:
            <div>
                <h3>Ingredients:</h3>
                {{!t(recipe.ingredients)}}
            </div>
        % end

        % if recipe.description:
            <div>
                <h3>Preparation:</h3>
                {{!t(recipe.description)}}
            </div>
        % end

        % if recipe.info:
            <div>
                <h3>Info:</h3>
                {{!t(recipe.info)}}
            </div>
        % end
    </div>

    <div class="unit w-1-3">
        <div id="images">
            % if recipe.images:
                <ul>
                    % for image in recipe.images:
                        % img_url = Url.from_img(image.path)
                        <li><img src="{{img_url}}" alt="{{image.path}}" /></li>
                    % end
                </ul>
            % end
        </div>
        <div>
            % rating = '-'
            % if recipe.rating is 0:
            %   rating = '☆'
            % elif recipe.rating is 1:
            %   rating = '★'
            % elif recipe.rating is 2:
            %   rating = '★★'
            % elif recipe.rating is 3:
            %   rating = '★★★'
            % end
            <h3>Rating:</h3>
            <p>{{rating}}</p>
        </div>
        <div>
            <h3>Links:</h3>
            % if recipe.urls:
                <ul>
                    % for url in recipe.urls:
                        % name = url.name if url.name else url.url[:25]
                        % if not url.name and len(url.url) > 25:
                        %    name += '...'
                        % end
                        <li><a href="{{url.url}}">{{name}}</a></li>
                    % end
                </ul>
            % end
        </div>
        <div>
            <h3>Category:</h3>
            <p>{{', '.join(category.name for category in recipe.categories)}}</p>
        </div>
        <div>
            <h3>Tags:</h3>
            <p>{{', '.join(tag.name for tag in recipe.tags)}}</p>
        </div>
    </div>
</div>

% rebase html_body id='recipe', title=recipe.title, edit_recipe=True, categories=categories, recipe=recipe