/* Definitions ****************************************************************/
@color: #333;
@font: 'Open Sans', sans-serif;
@font-size: 95%;
@header-size: 32px;

/* Imports ********************************************************************/
@import (inline) "normalize.css";
@import (inline) "gridism.css";
@import (inline) "chosen.min.css";
@import (inline) "jquery.fancybox.css";

/* See http://fonts.googleapis.com/css?family=Open+Sans */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

/* Global *********************************************************************/
body {
    color: @color;
    font-family: @font;
    font-size: @font-size;
}

a {
    color: @color;
    text-decoration: none;
}

a:active,
a:focus,
a:hover {
    text-decoration: underline;
}

/* Header/Navigation **********************************************************/
#page-top {
    height: @header-size;
    line-height: @header-size;
    vertical-align: middle;
}

#header h1 {
    background: url(/img/apple-touch-icon.png) no-repeat;
    background-size: @header-size auto;
    padding-left: (@header-size + 15px);
}

@media screen and (min-width: 568px) {
    #action-nav {
        margin-top: 24px;
        text-align: right;
    }
}

#category-nav {
    margin: 0;
}

#action-nav li,
#category-nav li {
    display: inline-block;
    line-height: 1.5em;
    padding-right: 10px;
}

/* Forms **********************************************************************/
fieldset {
    margin-bottom: 20px;
    
    fieldset {
        margin-bottom: 10px;
    }
}

form img {
    max-height: 200px;
    max-width: 200px;
}

.input-row {
    margin-bottom: 10px;
}

label {
    display: inline-block;
}

label,
.w-label {
    min-width: 150px;
    width: 25% !important;
}

input,
#tags_chosen,
#categories_chosen,
.w-input {
    min-width: 200px;
    width: 40% !important;
}

.w-input {
    width: 75% !important;
}

select {
    min-width: 100px;
}

textarea {
    height: 200px;
    min-width: 200px;
    width: 60%;
}

.tag-group-legend {
    cursor: pointer;
}

/* Rendered Content ***********************************************************/
#randoms,
#recipe-list,
#images ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#recipe-list  {
    .title {
        font-weight: bold;
    }

    img {
        max-height: 60px;
        max-width: 100%;
    }

    li {
        border-bottom: 1px solid @color;
        margin: 3px 0;
    }
}

#randoms img,
#recipe img {
    max-height: 300px;
    max-width: 100%; 
}

#randoms li {
    margin-bottom: 30px;
    text-align: center;
}

.autocomplete-suggestions {
    background: white;
    overflow: auto;
    padding: 5px;
}

.autocomplete-selected {
    cursor: pointer;
    text-decoration: underline;
}

.hidden {
    display: none;
}

/* Footer ***********************************************************/
#footer {
    margin-top: 20px;
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    li {
        display: inline-block;
        margin-right: 20px;
    }
}

.right-align {
    text-align: right;
}

/* Print **********************************************************************/
@media print {
    .only-screen {
        display: none;
    }
}